.vscode/**
.vscode-test/**
src-vscode/**
**/*.map
.gitignore
.gitattributes
.editorconfig
README.md
CHANGELOG.md
.eslintrc.json
.prettierrc.json
.nyc_output
coverage
**/*.ts
**/tsconfig.json
**/.eslintrc.json
**/vsc-extension-quickstart.md
**/img/**
target/**
src/**
Cargo.toml
Cargo.lock
build.sh
pnpm-lock.yaml
*.vsix
